*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: peachpuff;
    background-color: salmon;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    border: 2px solid black;
    margin: 0.5rem 1rem;
    background-color: #66ddaa;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 48%;
    width: 85%;
    max-width: 50vw;
    max-height: 100vh;

}

.title-container {
    text-align: center;

}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    padding: 2rem 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button-container {
    text-align: center;
    padding: 10px 0 25px 0;
}

.generate {
    padding: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 30px;
    background: #fa8072;
    box-shadow: inset -5px -5px 20px #64332e, inset 5px 5px 20px #ffcdb6;
}

.result {
    /* visibility: hidden; */
    padding-bottom: 5px;
}

.word {
    display: flex;
    /* justify-content: space-evenly; */
    padding-left: 39%;
    padding-right: auto;
}

#wordDisplay {
    font-size: 2.5rem;
    font-weight: bolder;
    padding-right: 20px;
}

.speech {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: salmon;
    transform: translate(0, 10%);
}

.speech:hover {
    font-size: 2.5rem;
}

.details {
    display: flex;
    gap: 10px;
    padding-left: 39%;
    margin-bottom: 2rem;
    /* visibility: hidden; */
}

.meaning {
    /* visibility: hidden; */
    margin: 0 2rem 0 2rem;
    border-left: 3px solid #fa8072;
    padding-left: 10px;
}

.example {
    /* visibility: hidden; */
    margin: 1rem 2rem 1rem 3rem;
    border-left: 3px solid #fa8072;
    padding-left: 10px;
    font-style: italic;
}

footer {
    border-top: 2px solid salmon;
    text-align: center;
    margin-top: 0.5rem;
    padding: 1rem 0 0.5rem 0;
    background-color: black;
    font-size: 0.9rem;
}

span {
    display: inline-block;
    color: salmon;
    margin-bottom: 0.5rem;
}
