*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: peachpuff;
    background-color: salmon;
}

.title-container {
    text-align: center;
    border: 2px solid black;
    background-color: mediumaquamarine;
    margin: 0.5rem 1rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    padding: 1rem 0;
    color: black;
}
