*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: peachpuff;
    background-color: salmon;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #66ddaa;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 85%;
    max-width: 50vw;
    max-height: 100vh;

}

.title-container {
    text-align: center;

}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    padding: 2rem 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.input-container {
    text-align: center;
    padding: 10px 0 25px 0;
}

.input {
    width: 40%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fa8072;
    color: black;
    border-radius: 30px;
    box-shadow: inset -5px -5px 20px #64332e, inset 5px 5px 20px #ffcdb6;

}

.generate {
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    background: #fa8072;
    box-shadow: inset -5px -5px 20px #64332e, inset 5px 5px 20px #ffcdb6;
}

.generate:hover {
    transform: translate(5%, 0%);
}

.result {
    position: relative;
}

.error {
    text-align: center;
    margin: 1rem 0 3rem 0;
    font-size: 2rem;
}

.word {
    display: flex;
    padding-bottom: 5px;
    padding-left: 35%;
    text-align: center;
}

#wordDisplay {
    font-size: 2.5rem;
    font-weight: bolder;
    padding-right: 25px;
}

.speech {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: salmon;
    transform: translate(0, 15%);
}

.speech:hover {
    font-size: 2rem;
}

.details {
    display: flex;
    gap: 10px;
    padding-left: 38%;
    margin-bottom: 1.5rem;
}

.meaning {
    text-align: center;
    font-size: 1.1rem;
    margin: 0 2rem;
}

.example {
    margin: 1rem 20% 2rem 20%;
    border-left: 3px solid #fa8072;
    padding-left: 10px;
    font-style: italic;
}

footer {
    border-top: 3px solid salmon;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    background-color: black;
    font-size: 0.9rem;
    border-radius: 0 0 8px 8px;
}

span {
    display: inline-block;
    color: salmon;
    margin-bottom: 0.5rem;
}
